*{
    box-sizing: border-box;
}
.main{
  /*margin: 0px;*/
    margin: 10px;
}
h1{
    margin-left: 222px;
    padding-bottom: 5px;
    color: #6c89ba;
}
.transactions{
    /*height: 200px;*/
    color: white;
    display: flex;
    flex-direction: column;
    padding: 7px;
    margin-left: 20px;
    width: 600px;
    background-color: #6c89ba;
    /*overflow: auto;*/
}
.items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 62px;
    padding: 2px;
    margin-top: 17px;
    border: 1px solid #cccccc;

}
.item{

}

.dropdown{
    position: relative;
    display: flex;
    flex-direction: column;
}
.list{
    position: absolute;
    width: 600px;
    list-style: none;
    padding: 5px 20px;
    margin-top:0px;
    margin-left: 20px;
    color: white;
    font-size: 20px;
    background-color: #3f4e62;
}

.img{
    width: 25px;
    height: 25px;

}
.rotate{
    transform: rotateX(180deg);
}
.pagination{
    width: 600px;
    margin-left: 20px;
    background-color: #8db4f6;
    padding: 8px;
    display: inline-block;
}
.filter{
    margin-left: 20px;
    background-color: #8db4f6;
    width: 600px;
    padding: 8px;
    /*display: inline-block;*/
}
.filter-block{
    display: inline;
    width: 95px;
    height: 5px;
    padding: 0px 15px 0 15px;
    background: white;
    border-radius: 5px;
    margin: 10px;
}
.details{
    text-align: center;
    display: flex;
    color: #a5d1ff;
    width: 96%;
    padding: 12px;
}
.list-2{
    list-style: none;
     /*margin-left: 20px;*/
    color: white;
    height: 41px;
    width: 90%;
    font-size: 20px;
    background-color: #6666af;
    border: 1px solid white;
}
.details-btn{
    height: 41px;
    width: 58px;
}
.news{
    text-align: center;
    width: 60%;
    height: 120px;
    margin-top: -54px;
    margin-left: 100px;
}
.checkbox{
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 40px;
    margin-top: 0px;
    margin-left: 20px;
    background-color: red;
}
.years{
    width: 85%;
    padding: 10px;
    text-align: center;
    color: white;
}
.checkbox-list{
    position: relative;
    margin-top: 0px;
    width: 600px;
    margin-left: 20px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #6c89ba;
}
.checkbox-li{

    width: 350px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    list-style: none;
    border: 1px solid white;
    background-color: #6c89ba;
}

.checkboxButton{
    /*margin: 2px;*/
    width: 15%;
    /*height: 40px;*/
    padding: 10px;
}
.check{
    display: flex;
    justify-content: space-between;
}
/*.list-items{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/
.list-items div{
   display: flex;
flex-direction: row;

}
.get-list{
    margin: 0px;
    /*list-style: none;*/
}
.get-list li{
    padding: 10px;
    display: inline;
    position: relative;
    float: left;
}
.apply{
    width: 130px;
    height: 100%;
    background: #1e416d;
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.apply-btn{
    width: 80px;
    height: 26px;
    border: 1px solid #2820ad;
    background:  #6c89ba;
    border-radius: 10%;
    margin-left: 35px;

}
p{
    margin: 0px;
}
.open-list{
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
}
.list-items div{
    display: flex;
    flex-direction: column;
}
.one{
    display: flex;
    justify-content: space-around;
}
.lab{
    display: flex;
     cursor: pointer;
    flex-direction: row-reverse;
    justify-content: flex-end;

}
.inp{
    cursor: pointer;
    height: 18px;
    width: 18px;
    background: #1e416d;
    padding-right: 0;
}
.pagination ul{
    margin-top: 2px;
    list-style: none;
}
.pagination li{
    float: left;
    margin: 5px;

}
